<div class="card">
    <h1 class="card-header text-muted">
        <div class="row">
            <div class=col>
                Detalle de Replica
            </div>
            <div class="col" style="float: right" style="text-align: right">
                <button class="btn btn-outline-danger" routerLink='/home-replica' routerLinkActive="active">volver al menu</button>
            </div>
        </div>
    </h1>
    <div class="card-body">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Propiedades</th>
                    <th scope="col">Valores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Materiales</td>
                    <td>{{replica.material}}</td>
                </tr>
                <tr>
                    <td>Descripcion</td>
                    <td>{{replica.descripcion}}</td>
                </tr>
                <tr>
                    <td>Localidad</td>
                    <td>{{replica.localidad}}</td>
                </tr>
                <tr>
                    <td>Alto</td>
                    <td>{{replica.medidasReplica.alto}}</td>
                </tr>
                <tr>
                    <td>Edad</td>
                    <td>{{replica.edad}}</td>
                </tr>
                <tr>
                    <td>Fecha</td>
                    <td>{{replica.fechaIngreso}}</td>
                </tr>
                <tr>
                    <td>Codigo</td>
                    <td>{{replica.codigo}}</td>
                </tr>
                <tr>
                    <td>Colectores</td>
                    <td>
                        <ul>
                            <li *ngFor="let colector of replica.colectores">
                                {{colector.apellidos}} {{colector.nombres}} {{colector.dni}}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Ubicacion</td>
                    <td>
                        <ul>
                            <li> <b>Codigo de Repositorio:</b> {{replica.ubicacion.codRepositorio}}</li>
                            <li> <b>Numero Estante:</b> {{replica.ubicacion.numEstante}}</li>
                            <li> <b>Numero Estanteria:</b> {{replica.ubicacion.numEstanteria}} </li>
                        </ul>
                    </td>
                </tr>
                <tr *ngIf="replica.preparador">
                    <td>Prestador</td>
                    <td>{{replica.preparador}}</td>
                </tr>
                <tr *ngIf="replica.preparador">
                    <td>Tecnicas Utilizadas</td>
                    <td>{{replica.tecnicasUtilizadas}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>