<div class="container">

    <div class="title">
        <h2>Detalle de Replica <small>{{replica.codigo}}</small></h2>
    </div>

    <div class="row">
        <div class="col"> Codigo: {{replica.codigo}}
        </div>
    </div>
    <div class="row">
        <div class="col"> Taxon: {{replica.taxon}}
        </div>
    </div>
    <div class="row">
        <div class="col"> detalle: {{replica.descripcion}}
        </div>
    </div>
    <div class="row">
        <div class="col"> Codigo: {{replica.codigo}}
        </div>
    </div>
    <div class="row">
        <div class="col"> Codigo: {{replica.codigo}}
        </div>
    </div>
</div>