<hr>
<h4>Alta de Replica</h4>
<hr>

<form [formGroup]="formReplica" (ngSubmit)="guardarFormulario()">
    <div class="form-row">

        <div class="form-group col">
            <label class="col-1 col-form-label">Codigo</label>
            <div class="col-md-12" [ngClass]="{'was-validated': formReplica.controls['codigo'].valid}">
                <input type="text" class="form-control" [ngClass]="{'is-invalid': formReplica.controls['codigo'].touched && !formReplica.controls['codigo'].valid}" placeholder="Codigo" formControlName="codigo">
                <div class="invalid-feedback" *ngIf="formReplica.controls['codigo'].errors?.required">
                    Este campo es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col">
            <label class="col-1 col-form-label">Taxon</label>
            <div class="col-md-12" [ngClass]="{'was-validated': formReplica.controls['taxon'].valid}">
                <input type="text" class="form-control" [ngClass]="{'is-invalid': formReplica.controls['taxon'].touched && !formReplica.controls['taxon'].valid}" placeholder="taxon" formControlName="taxon">
                <div class="invalid-feedback" *ngIf="formReplica.controls['taxon'].errors?.required">
                    Este campo es obligatorio
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-1 col-form-label">Descripción</label>
        <div class="col-md-12" [ngClass]="{'was-validated': formReplica.controls['descripcion'].valid}">
            <input type="text" class="form-control" [ngClass]="{'is-invalid': formReplica.controls['descripcion'].touched && !formReplica.controls['descripcion'].valid}" placeholder="breve descripción de la réplica" formControlName="descripcion">
            <div class="invalid-feedback" *ngIf="formReplica.controls['descripcion'].errors?.minlength">
                La descripcion debe tener una logitud minima de 5 caracteres
            </div>
            <div class="invalid-feedback" *ngIf="formReplica.controls['descripcion'].errors?.required">
                Este campo es obligatorio
            </div>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col">
            <label class="col-1 col-form-label">Localidad</label>
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="localidad" formControlName="localidad">
            </div>
        </div>
        <div class="form-group col">
            <label class="col-1 col-form-label">Unidad</label>
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="unidad" formControlName="unidad">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label class="col-1 col-form-label">Edad</label>
            <div class="col-md-12">
                <input type="number" class="form-control" placeholder="Edad del fósil expresada en años" formControlName="edad">
            </div>
        </div>
        <div class="form-group col">
            <label class="col-1 col-form-label">Fecha</label>
            <div class="col-md-12">
                <input type="date" class="form-control" placeholder="dd/mm/aaaa" formControlName="fecha">
            </div>
        </div>
    </div>

    <div class="form-group row">

        <div class="form-group col">
            <label class="col-12 col-form-label">Colector</label>
            <div *ngFor="let colector of formReplica.controls['colector'].controls; let i=index" class="col-md-12" formArrayName="colector">
                <div class="form-group row">
                    <div class="form-group col">
                        <input type="text" class="form-control" placeholder="colector" [formControlName]="i">
                    </div>
                    <div class="form-group col" *ngIf="i>0">
                        <button (click)="quitarColector(i)" type="button" class="btn btn-outline-danger">Quitar</button>
                    </div>

                    <div class="form-group col" *ngIf="i==0">
                        <button (click)="agregarColector()" type="button" class="btn btn-outline-primary">agregar</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div formGroupName="ubicacion">
        <label class="col-12 col-form-label">Ubicación de la Replica</label>
        <div class="form-group row">

            <div class="form-group col">

                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Codigo de repositorio" formControlName="codRespositorio">
                </div>
            </div>
            <div class="form-group col">

                <div class="col-md-12">
                    <input type="number" class="form-control" placeholder="Nro de estante" formControlName="numEstante">
                </div>
            </div>
            <div class="form-group col">

                <div class="col-md-12">
                    <input type="number" class="form-control" placeholder="Nro de estanteria" formControlName="numEstanteria">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group col">
        <button *ngIf="!mostrarPreparador" (click)="agregarPreparador(); mostrarPreparador=!mostrarPreparador" type="button" class="btn btn-outline-primary">Agregar Preparador</button>
        <button *ngIf="mostrarPreparador" (click)="quitarPreparador(); mostrarPreparador=!mostrarPreparador" type="button" class="btn btn-outline-primary">Quitar Preparador</button>
    </div>

    <div *ngIf="mostrarPreparador">
        <div class="form-group">
            <label class="col col-form-label">Preparador</label>
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Nombre del preparador de la pieza/replica" formControlName="preparador">
            </div>
        </div>
        <div class="form-group">
            <label class="col col-form-label">Tecnicas Utilizadas</label>
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Descripción de las tecnicas aplicadas" formControlName="tecnicasUtilizadas">
            </div>
        </div>
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-primary col" [disabled]="!formReplica.valid">
            Confirmar
            </button>
    </div>

    <hr> {{formReplica.valid}}
</form>