<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark border-dark" id="sidebar-wrapper">
        <div class="sidebar-heading">Museo UNCOma </div>
        <div class="list-group list-group-flush" routerLinkActive="active">

            <a class="list-group-item list-group-item-action bg-dark" routerLink="home-pieza">
                <i class="far fa-square"></i> Piezas </a>
            <a class="list-group-item list-group-item-action bg-dark" routerLink="home-replica">
                <i class="far fa-clone"></i> Replicas</a>
            <a class="list-group-item list-group-item-action bg-dark" routerLink="donacion">
                <i class="fas fa-hand-holding-heart"></i> Donaciones</a>
            <a class="list-group-item list-group-item-action bg-dark" routerLink="prestamo">
                <i class="far fa-handshake"></i> Prestamos</a>
            <a class="list-group-item list-group-item-action bg-dark" routerLink="exhbicion">
                <i class="fas fa-landmark"></i> Exhibiciones</a>
            <a class="list-group-item list-group-item-action bg-dark" routerLink="cange">
                <i class="fas fa-exchange-alt"></i> Canges</a>

        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <app-navbar>

        </app-navbar>


        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>

    </div>

    <!-- /#page-content-wrapper -->

</div>