<hr>
<h4>Alta de Replica</h4>
<hr>

<form [formGroup]="formReplica" (ngSubmit)="guardarFormulario()">
    <div class="form-row">
        <div class="form-group col">
            <label class="col-1 col-form-label">Codigo</label>
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Codigo" formControlName="codigo">
            </div>
        </div>
        <div class="form-group col">
            <label class="col-1 col-form-label">Taxon</label>
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="taxon" formControlName="taxon">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-1 col-form-label">Descripción</label>
        <div class="col-md-12">

            <input type="text" class="form-control" placeholder="breve descripción de la réplica" formControlName="descripcion">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label class="col-1 col-form-label">Localidad</label>
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="localidad" formControlName="localidad">
            </div>
        </div>
        <div class="form-group col">
            <label class="col-1 col-form-label">Unidad</label>
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="unidad" formControlName="unidad">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label class="col-1 col-form-label">Edad</label>
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Edad del fósil expresada en años" formControlName="edad">
            </div>
        </div>
        <div class="form-group col">
            <label class="col-1 col-form-label">Fecha</label>
            <div class="col-md-12">
                <input type="date" class="form-control" placeholder="dd/mm/aaaa" formControlName="fecha">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-12 col-form-label">Colector</label>
        <div class="col">
            <div class="col-md-12" formArrayName="colector">
                <input *ngFor="let colector of formReplica.controls['colector'].controls; let i=index" type="text" class="form-control m-1" placeholder="colector" [formControlName]="i">

            </div>
        </div>
        <div class="col">
            <button (click)="agregarColector()" type="button" class="btn btn-primary">agregaraa</button>
        </div>
    </div>

    <div formGroupName="ubicacion">
        <label class="col-12 col-form-label">Ubicación de la Replica</label>
        <div class="form-group row">

            <div class="form-group col">

                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Codigo de repositorio" formControlName="codRespositorio">
                </div>
            </div>
            <div class="form-group col">

                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Nro de estante" formControlName="numEstante">
                </div>
            </div>
            <div class="form-group col">

                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Nro de estanteria" formControlName="numEstanteria">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-1 col-form-label">Preparador</label>
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="preparador" formControlName="preparador">
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!formReplica.valid">
        Confirmar
    </button>

    <hr> {{formReplica.valid}}
</form>